<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <title>Document</title>
</head>
<body>
  <pm-navbar></pm-navbar>
  <br>
  <div class="container">
    <router-outlet>
     
    </router-outlet>
  </div>  
</body>
</html>





























<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav row">
      <a class="nav-item nav-link active " href="#">>Back <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active " href="#"> Cancel<span class="sr-only">(current)</span></a>

    </div>
  </div>
</nav> -->

<!-- Default form login -->



  <!-- <div *ngIf="count == 1" class="question-one">

    </div>
  </div>




    <div *ngIf="count==1" class="question-one">
      <h4>Welcome {{username}} </h4>
      <h1 class="question-text">Do you have a cough?</h1>
      <img src="/assets/images/cough.jpg" class="cough-image" alt="">
      <div class="btn-group btn-group-lg" role="group" aria-label="...">
        <button  (click)='toggleDiv() ' class="btn btn-info btn-block my-4 yes-btn" type="submit"> {{yes}}</button>
        <button  (click)='toggleDiv()' class="btn btn-info btn-block my-4 no-btn" type="submit">{{no}}</button>
      </div>
  </div>


  <div *ngIf="count==2" class="question-one">
    <h1 class="question-text">Do you have a cold?</h1>
    <img src="/assets/images/cold.jpg" class="cough-image" alt="">
    <div class="btn-group btn-group-lg" role="group" aria-label="...">
    <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit"> {{yes}}</button>
    <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit">{{no}}</button>
  </div>
</div>

<div *ngIf="count==3" class="question-one">
  <h1 class="question-text">Are you having Diarrhea?</h1>
  <img src="/assets/images/toilet.png" class="cough-image" alt="">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit"> {{yes}}</button>
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit">{{no}}</button>
</div>
</div>

<div *ngIf="count==4" class="question-one">
  <h1 class="question-text">Are you having a sore throat?</h1>
  <img src="/assets/images/throat.png" class="cough-image" alt="">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit"> {{yes}}</button>
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit">{{no}}</button>
</div>
</div>

<div *ngIf="count==5" class="question-one">
  <h1 class="question-text">Are you having body aches?</h1>
  <img src="/assets/images/body.png" class="cough-image" alt="">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit"> {{yes}}</button>
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit">{{no}}</button>
</div>
</div>

<div *ngIf="count==6" class="question-one">
  <h1 class="question-text">Are you having a headache?</h1>
  <img src="/assets/images/head.png" class="cough-image" alt="">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit"> {{yes}}</button>
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit">{{no}}</button>
</div>
</div>

<div *ngIf="count==7" class="question-one">
  <h1 class="question-text">Do you have a fever?</h1>
  <img src="/assets/images/temp.png" class="cough-image" alt="">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit"> {{yes}}</button>
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit">{{no}}</button>
</div>
</div>

<div *ngIf="count==8" class="question-one">
  <h1 class="question-text">Do you have a fever?</h1>
  <img src="/assets/images/breath.svg" class="cough-image" alt="">
  <div class="btn-group btn-group-lg" role="group" aria-label="...">
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit"> {{yes}}</button>
  <button (click)='toggleDiv()' class="btn btn-info btn-block my-4" type="submit">{{no}}</button>
</div>
</div>


<div *ngIf="positive">
  <div class="container card" style="width: 18rem;">
      <div class="card-body">
      <h5 class="card-title">Result:</h5>
      <p class="card-text">Your risk of
        having COVID-19 is
        SEVERE.</p>
        <p>Do not panic,isolate yourself from friends and family.</p>
        <p>Call 0800-9700-0010</p>
        <p>SMS: 08099555577</p>
        <p>WHATSAPP:07087110839</p>
    </div>
  </div>
</div>


<div *ngIf="negative">
  <div class="container card" style="width: 18rem;">
      <div class="card-body">
      <h5 class="card-title">Result:</h5>
      <p class="card-text">Your risk of
        having COVID-19 is
        LOW.</p>
        <p>You may be stressed,get some rest. </p>

    </div>
  </div>
</div>




</form>
Default form login -->
